.qazwsx{
 width:33%;
 float:right;
 margin-left:0px;
}
.p2{
 width:33%;
 float:left;
 margin-left:5px;
}
 
body{ 
background-color:white; 
color:black; 
} 

.dark-mode{ 
background-color:black; 
color:white 
} 
